
  <% if @products.empty? %>
      <p class="text-center m-10">No products!</p>
  <% else %>

      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-12 col-md-6 col-lg-4">

            <%= link_to product_path(product, lon: @lon, lat: @lat), class:"card-product-link" do %>

              <div class="card-product">

                <%= cl_image_tag(product.photo.key, class:"card-product-image") %>

                <div class="card-product-infos">

                  <h2><%= product.name %></h2>

                  <div class="card-product-pricing-and-actions">

                    <p class="card-product-pricing">$<%= product.price.to_i %>/day</p>

                    <div class="card-product-actions">
                      <% if policy(product).edit? %>
                        <%= link_to edit_product_path(product) do %>
                          <i class="fas fa-edit"></i>
                        <% end %>
                      <% end %>
                       <% if policy(product).destroy? %>
                        <%= link_to product_path(product), method: :delete do %>
                          <i class="fas fa-trash"></i>
                        <% end %>
                      <% end %>
                    </div>

                  </div>


                  <% if product.user.photo.attached?  %>
                    <%= cl_image_tag(product.user.photo.key,width: 200, height: 200, crop: :thumb, gravity: :face,
                        class:"card-product-user avatar avatar-bordered") %>
                  <% else %>
                    <%= image_tag('user.png',
                        class:"card-product-user avatar avatar-bordered") %>
                  <% end %>

                </div>
              </div>


          <% end %>


          </div>
        <% end %>
      </div>

  <% end %>

