<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">




  <!--     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
  <div class="navbar-items">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          See the sparkle
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/products?category=necklaces">Necklaces</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/products?category=rings">Rings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/products?category=bracelets">Bracelets</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/products?category=earrings">Earrings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/products?category=sets">Sets</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/products">All</a>
        </div>
      </div>
    </div>
  </div>



  <div class="navbar-items">
      <%= link_to root_path, class: "link-to-home" do%>
        Bijou For You
      <% end %>
  </div>

  <div class="navbar-items">
    <ul class="navbar-nav">

      <% if current_user %>
      <li class="nav-item dropdown">

      <% if current_user.photo.attached?  %>
      <%= cl_image_tag(current_user.photo.key,width: 200, height: 200, crop: :thumb, gravity: :face,
                class:"avatar dropdown-toggle clickable", id:"navbarDropdown",
                "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false") %>
      <% else %>
      <%= image_tag('user.png',
                class:"avatar dropdown-toggle clickable", id:"navbarDropdown",
                "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false") %>
      <% end %>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to renter_rentals_path, id:"dropdown-link", class:"dropdown-link dropdown-item" do %>
                My rentals
        <% end %>
        <%= link_to owner_products_path, id:"dropdown-link", class:"dropdown-link dropdown-item" do %>
                My jewels for rent
        <% end %>
        <a class="dropdown-link dropdown-item" href="#">My account</a>
        <%= link_to destroy_user_session_path, method: :delete, id:"sign-out-dropdown-link", class:"dropdown-link dropdown-item" do %>
                Sign out
        <% end %>
        </div>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "white-link nav-link" do%>
            Log in
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: "white-link nav-link" do%>
            Sign up
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
