<p> Product: <%= @rental.product.name %> </p>
<p> From <%= @rental.start_date %></p>
<p> To <%= @rental.end_date %></p>
<p> Owner: <%= @rental.product.user.first_name %> <%= @rental.product.user.last_name %></p>
<p> Renter: <%= @rental.user.first_name %> <%= @rental.user.last_name %></p>
