<div class="banner" id="home-page">
  <div class="container">
    <h1>BeJoo</h1>
    <p>Find the perfect jewels for your next occasion.</p>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-1 col-md-6 col-lg-4">
      <%= link_to "/products?category=necklaces", class:"card-category necklaces" do %>
          Necklaces
      <% end %>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <%= link_to "/products?category=rings", class:"card-category rings" do %>
          Rings
      <% end %>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <%= link_to "/products?category=bracelets", class:"card-category bracelets" do %>
          Bracelets
      <% end %>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <%= link_to "/products?category=earrings", class:"card-category earrings" do %>
          earrings
      <% end %>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <%= link_to "/products?category=sets", class:"card-category sets" do %>
          Sets
      <% end %>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <%= link_to products_path, class:"card-category all" do %>
          All
      <% end %>
    </div>
  </div>
</div>
