<div class="banner" id="home-page">
  <div class="container">
    <h1>Bijou For You</h1>
    <p>Rent your dream jewelry for your next occasion.</p>

    <%= simple_form_for :search, url: products_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>

  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to "/products?category=necklaces", class:"card-category necklaces" do %>
          Necklaces
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to "/products?category=rings", class:"card-category rings" do %>
          Rings
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to "/products?category=bracelets", class:"card-category bracelets" do %>
          Bracelets
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to "/products?category=earrings", class:"card-category earrings" do %>
          Earrings
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to "/products?category=sets", class:"card-category sets" do %>
          Sets
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to products_path, class:"card-category all" do %>
          All
      <% end %>
    </div>
  </div>
</div>
