<%= simple_form_for @product do |f| %>
  <%= f.input :name, autofocus: true%>
  <%= f.input :category, collection: %w(necklaces earrings bracelets rings sets other) %>
  <%= f.input :description, autofocus: true%>
  <%= f.input :price, label: "Daily rate" %>
  <br>

  <div class="center">

    <% if @product.photo.attached?  %>
      <%= cl_image_tag(@product.photo.key, class:"product-photo-in-form center") %>
      <br>
      <br>
      <label class="btn-light clickable">
        Change the photo
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label>
    <% else %>
      <label class="btn-light clickable">
        Upload a photo
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label>
    <% end %>

    <div>
      <%= f.button :submit, class:"btn-heavy mt-5" %>
    </div>

  </div>

<% end %>
