<%= simple_form_for @product do |f| %>
  <%= f.input :name, autofocus: true%>
  <%= f.input :category, collection: %w(necklaces earrings bracelets rings sets other) %>
  <%= f.input :description, autofocus: true%>
  <%= f.input :price, label: "Daily rate" %>
  <br>

  <% if @product.photo.attached?  %>
    <%= cl_image_tag(@product.photo.key) %>
    <label class="btn-light clickable">
      Change the photo
      <span style="display:none;">
        <%= f.input :photo, as: :file %>
      </span>
    </label>
  <% else %>
    <label class="btn-light clickable">
      Upload a photo
      <span style="display:none;">
        <%= f.input :photo, as: :file %>
      </span>
    </label>
  <% end %>

  <br>
  <div class="text-center">
    <%= f.button :submit, class:"btn-heavy" %>
  </div>

<% end %>
