<div class="banner banner-category <%= @category %>">
  <div class="container">
    <h1><%= @title.capitalize %></h1>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="flex center mt-3">
    <div>

    <%= link_to products_path(category: 'all'), class:"btn-heavy" do %>
                    All jewelry categories
                <% end %>
    </div>

    <%= simple_form_for :search, url: products_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search" id="search_query" style="height: 2.0rem" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>

  <div class="text-center">

    <% if @near_me != "true" %>
      <%= link_to "", id:"near-me-unregistered" do %>
        <i class="fas fa-map-marker-alt"></i>  Show rentals near me
      <% end %>
    <% else %>
      <%= link_to "products?category=#{@category}" do %>
        <i class="fas fa-globe-africa"></i> Show jewelry around the world
      <% end %>
    <% end %>


  </div>


</div>

  <%= render 'shared/listproducts' %>
