<div class="banner banner-category <%= @category %>">
  <div class="container">
    <h1><%= @title.capitalize %></h1>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="flex center">
    <%= link_to products_path, class:"btn-heavy" do %>
                    All jewelry categories
                <% end %>

        <% if current_user && @near_me != "true" %>
          <%= link_to "products?category=#{@category}&near_me=true" do %>
        <i class="fas fa-map-marker-alt"></i>  Show rentals near me
          <% end %>
        <% elsif @near_me == "true" %>
          <%= link_to "products?category=#{@category}" do %>
            <i class="fas fa-globe-africa"></i> Show jewelry around the world
          <% end %>
        <% end %>

  </div>
    <%= render 'shared/listproducts' %>
</div>
