<div class="banner banner-category <%= @category %>">
  <div class="container">
    <h1><%= @title.capitalize %></h1>
  </div>
</div>

<div class="container mt-3">

  <div class="text-center">

    <% if current_user && @near_me != "true" %>
      <%= link_to "products?category=#{@category}&near_me=true" do %>
        Show me sparkles near me
      <% end %>
    <% elsif @near_me == "true" %>
      <%= link_to "products?category=#{@category}" do %>
        Show me sparkles around the world
      <% end %>
    <% end %>

  </div>


  <%= render 'shared/listproducts' %>

</div>
