
<div class="container mt-3">

  <div class="d-flex                                                                                                                                                                                                                                                                                                         ">

    <div class="product-page-left" style="background-image: url('<%= cl_image_path @product.photo.key, crop: :fill %>')">
    </div>

    <div class="product-page-right">
      <h1><%= @product.name %></h1>
      <div class="product-page-right-category">
         <p><em><%= @product.category.capitalize %></em></p>
      </div>
      <p><%= @product.description %></p>
      <p><strong> Rental price per day:</strong>  $<%= @product.price.to_i %></p>

      <div class="product-user d-flex">
        <p><strong> Owner: </strong> <%= @product.user.first_name %></p>

         <%= cl_image_tag(@product.user.photo.key,width: 200, height: 200, crop: :thumb, gravity: :face,
                class:"avatar") %>

      </div>



      <%= link_to new_product_rental_path(@product), class:'btn btn-primary' do %>
        Rent this jewelry
      <% end %>

    </div>


  </div>
</div>



