
<div class="container mt-5">

  <div class="product d-flex">

    <%= cl_image_tag @product.photo.key, class:"product-page-left" %>


    <div class="product-page-right d-flex flex-column justify-content-between">


      <div class="product-infos">

        <h1 class='text-center product-name'><%= @product.name %></h1>

        <div class="product-category-and-owner d-flex align-items-center justify-content-between">

          <p class="mb-0"><strong>Category:</strong> <em><%= @product.category.capitalize %></em></p>

          <div class="product-user d-flex justify-content-between align-items-center">
            <p class='mb-0'><strong> Owner: </strong> <%= @product.user.first_name %></p>
            <% if @product.user.photo.attached?  %>
              <%= cl_image_tag(@product.user.photo.key,width: 200, height: 200, crop: :thumb, gravity: :face,
              class:"avatar avatar-bordered") %>
            <% else %>
              <%= image_tag('user.png', class:"avatar avatar-bordered") %>
            <% end %>
          </div>

        </div>

        <p><%= @product.description %></p>
        <p><strong> Rental price per day:</strong>  $<%= @product.price.to_i %></p>
        <% if current_user && current_user != @product.user %>
          <p class="product-distance mt-3">
            <i class="fas fa-map-marker-alt"></i>
            <% distance = Geocoder::Calculations.distance_between(current_user.address, @product.user.address).round(2) %>
            <%= distance %> km <%= 's' if distance >= 2 %> from you!
          </p>
        <% end %>

      </div>



      <div class="text-center">

        <% if policy(@rental).new? %>
          <%= link_to new_product_rental_path(@product), class:'btn btn-primary rent-button' do %>
            Rent this jewelry
          <% end %>
        <% end %>
        <% if policy(@product).edit? %>
          <%= link_to edit_product_path(@product), class:'btn-heavy mr-3' do %>
            Edit
          <% end %>
        <% end %>
        <% if policy(@product).destroy? %>
          <%= link_to @product.id.to_s, method: :delete, class:'btn-light ml-3' do %>
            Delete
          <% end %>
        <% end %>
      </div>



    </div>


  </div>


  <div class="reviews card-pink-border mt-5">

    <h2>Reviews</h3>

    <% if @product.product_reviews.empty? %>
      <p>No reviews yet</p>
    <% else %>

      <div class="review-list mb-5">

        <ul>
          <% @product.product_reviews.each do |review| %>

            <li class="review-card">

              <div class="review-rating">
                <% full_stars = review.rating %>
                <% empty_stars = 5 - full_stars %>
                <% full_stars.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% empty_stars.times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
              <div class="review-content"><%= review.content %></div>

            </li>

          <% end %>
        </ul>

      </div>

    <% end %>

    <% if policy(@product_review).create? %>

      <div class="add-review">

        <h4>Add your review</h4>

        <div class="creation-review-form review-card">
          <%= simple_form_for [@product,@product_review] do |f| %>
            <div class="rating-stars">
              <%= hidden_field_tag :rating, 0, :id => "rating-input" %>
              <span>Rating<span>
              <i class="far fa-star hidden" id="0"></i>
              <i class="far fa-star" id="1"></i>
              <i class="far fa-star" id="2"></i>
              <i class="far fa-star" id="3"></i>
              <i class="far fa-star" id="4"></i>
              <i class="far fa-star" id="5"></i>
            </div>
            <div class="form-group">
              <%= f.input :content, class: 'form-control' %>
            </div>
            <br>
            <%= f.submit class: 'btn-light' %>
          <% end %>
        </div>

      </div>

    <% end %>




  </div>
</div>



